{{ $data := index .Site.Data .Site.Language.Lang }}

{{- if $data.homepage.banner.enable }}
{{- with $data.homepage.banner }}
<!-- hero area -->
<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-6 text-center mb-5 mb-md-0">
				<img class="img-fluid" src="{{ .image | absURL }}" alt="">
			</div>
			<div class="col-md-6 align-self-center text-center text-md-left">
				<div class="block">
					<h1 class="font-weight-bold mb-4 font-size-60">{{ .title | markdownify }}</h1>
					<p class="mb-4">{{ .content | markdownify }}</p>
					{{ if .button.enable }}
					{{ with .button }}
					<a href="{{.link|absLangURL}}" class="btn btn-main">{{.label}}</a>
					{{ end }}
					{{ end }}
				</div>
			</div>
		</div><!-- .row close -->
	</div><!-- .container close -->
</section><!-- header close -->
<!-- Modal -->
<!-- 
<div class="modal fade  " id="demoModal"  tabindex="-1" role="dialog"
     aria-labelledby="demoModal" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered " role="document">
        <div class="modal-content">
                    <div class=" bg-img rounded " style="background-image: url('images/alma.webp')">

                            <div class="overlay-light">
                                <div class="text-white text-center m-h-50 d-flex justify-content-center">
                                    <div>
                                      <br>
                                        <h1 class="pt-sm-3">Payez en plusieurs fois avec</h1>
                                        <br><br><br><br>
                                        <p class="text-white-80"> Solution de paiement en 3 et 4 fois  </p>
                                        <a href="#" class="btn btn-cstm-light btn-cta" data-dismiss="modal" aria-label="Close" data-dismiss="modal" aria-label="Close">
                                          Accédez au site.
                                        </a>
                                    </div>
                                </div>
                            </div>

                    </div>


        </div>
    </div>
</div> -->
<!-- Modal Ends -->


   <!-- Modal -->
   <div class="modal fade "   id="demoModal"  tabindex="-1" role="dialog"
   aria-labelledby="demoModal" aria-hidden="true">
  <div class="modal-dialog   modal-dialog-centered  " role="document">
      <div class="modal-content">
          <button type="button" class="close light" data-dismiss="modal"
                  aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
          <div class="modal-body" style="background-image: url('https://img.freepik.com/photos-premium/hopital-saint-joseph-chapelle-toulouse_78361-12884.jpg'); background-repeat: no-repeat; background-size: cover;">
              <div  >
                  <div class="px-sm-5 py-sm-5 ">
                      <div class=" bg-light rounded px-4 py-4">
                          <div class="text-center" >
                              <img src="/images/cup.png" alt="" width="250">
                          </div>
                          <h3 class="pt-sm-3 text-center"> Location de Trottinettes Électriques⚡️  <br> Confort, Mobilité, Plaisir</h3>
                          <p class="text-muted text-center">
                            Nous, professionnels du tourisme, sommes fiers d'être le prestataire officiel de la Coupe du Monde de Rugby.
                          </p>
                          <form>
                              <!-- <div class="form-group">
                                  <label for="exampleInputEmail1">Email address</label>
                                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                              </div> -->

                              <button type="submit" class="btn btn-cstm-dark btn-block btn-cta" data-dismiss="modal" aria-label="Close">Accédez au site.</button>
                          </form>
                          <div class="pt-3 text-center ">
                              <small><a href="#" data-dismiss="modal" aria-label="Close" class="text-muted">*Familiarisez-vous avec les règles de circulation et assurez-vous une expérience agréable et sécurisée lors de vos balades.</a></small>
                          </div>
                      </div>
                  </div>
              </div>
          </div>


      </div>
  </div>
</div>
<!-- Modal Ends -->

{{- end }}
{{- end }}