{{ $data := index .Site.Data .Site.Language.Lang }}

{{- if $data.homepage.banner.enable }}
{{- with $data.homepage.banner }}
<!-- hero area -->
<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-6 text-center mb-5 mb-md-0">
				<img class="img-fluid" src="{{ .image | absURL }}" alt="">
			</div>
			<div class="col-md-6 align-self-center text-center text-md-left">
				<div class="block">
					<h1 class="font-weight-bold mb-4 font-size-60">{{ .title | markdownify }}</h1>
					<p class="mb-4">{{ .content | markdownify }}</p>
					{{ if .button.enable }}
					{{ with .button }}
					<a href="{{.link|absLangURL}}" class="btn btn-main">{{.label}}</a>
					{{ end }}
					{{ end }}
				</div>
			</div>
		</div><!-- .row close -->
	</div><!-- .container close -->
</section><!-- header close -->
<!-- Modal -->

<div class="modal fade  " id="demoModal"  tabindex="-1" role="dialog"
     aria-labelledby="demoModal" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered " role="document">
        <div class="modal-content">
                    <div class=" bg-img rounded " style="background-image: url('images/alma.jpg')">

                            <div class="overlay-light">
                                <div class="text-white text-center m-h-50 d-flex justify-content-center">
                                  <!-- align-items-center  -->
                                    <div>
                                      <br>
                                        <h1 class="pt-sm-3">Payez en plusieurs fois avec</h1>
                                        <br><br><br><br>
                                        <p class="text-white-80"> Solution de paiement en 3 et 4 fois  </p>
                                        <a href="#" class="btn btn-cstm-light btn-cta" data-dismiss="modal" aria-label="Close" data-dismiss="modal" aria-label="Close">
                                          Accédez au site.
                                        </a>
                                    </div>
                                </div>
                            </div>

                    </div>


        </div>
    </div>
</div>
<!-- Modal Ends -->
{{- end }}
{{- end }}